# Torch stack estable CU118 (evita torch 2.6+ y movidas de safe-load)
torch==2.1.2+cu118
torchvision==0.16.2+cu118
torchaudio==2.1.2+cu118

# PyAV: debe ser wheel (no sdist)
av==11.0.0

# Stack whisperx/pyannote (ajusta si quieres, pero esto suele ir bien)
whisperx==3.1.5
pyannote.audio==3.1.1

runpod==1.7.13
requests==2.32.3
